/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
:root {
    --clr-gray: #b8b8b5;
    --clr-dark-gray: #292929;
    --clr-blue: #0056a2;
}
body {
    /* background: rgb(136,203,171); */
    /* background: linear-gradient(0deg, rgb(158, 2, 67) 0%, rgb(0, 86, 162) 100%); */
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    color: var(--clr-dark-gray);
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 5em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 0.5px solid var(--clr-gray);
    color: var(--clr-blue);
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.8rem;
}

b {
    font-size:large;
    font-weight: 800;
}
p {
    line-height: 3rem;
    /* color: #eee; */
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    margin-block: 2em;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.nav__menu {
    padding: 10px !important;
    background: var(--clr-dark-gray);
    width: 100%;
}
.navbar__menu ul {
    padding-left: 0px;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
    font-size: 1.5em;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-blue);
    transition: all ease-in-out 300ms;
}

.navbar__menu .menu__link:hover {
    background: var(--clr-blue);
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: rgba(41, 41, 41, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: var(--clr-dark-gray);
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(84, 85, 86, 0.2);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgba(0, 86, 162, 0.2);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgba(0, 86, 162, 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgba(0, 86, 162, 0.2);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: active class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.active {
    border: 0.5px solid var(--clr-blue);
    border-radius: 10px;
}

section.active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}
