/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
:root {
    --clr-gray: #b8b8b5;
    --clr-dark-gray: #292929;
    --clr-blue: #0056a2;
}

body {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    color: var(--clr-dark-gray);
}

section {
    margin-block: 10rem;
}


/* Typeography General*/
.main__hero {
    margin: 1rem 0rem;
    line-height: 2.5rem;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    margin-block: 1rem;
    padding-block: 1rem;
}

.h2-container {
    background: var(--clr-dark-gray);
    margin-block: 1rem;
    width: 100%;
}

.h2-icon {
    margin-right: 10px;
}

b {
    font-size:medium;
    font-weight: 700;
    color: var(--clr-dark-gray);
}

p {
    line-height: 2.5rem;
}

.p-container {
    width: 100%;
}

/* ---- Layout Rules ---- */
main {
    margin: 0px auto;
}

.main-hero {
    padding-top: 3em;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.icon {
    color: var(--clr-blue);
    font-size: 1.5rem;
    padding: 5px;
    padding-block: 0px;
}

.navbar__menu {
    overflow: auto;
}

.navbar__menu ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0px;
    width: 100%;
}

.navbar__menu li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0.5rem;
    margin: 0px;
}

.navbar__menu .menu__link {
    text-decoration: none;
    color: var(--clr-blue);
}

.navbar__menu .menu__link:hover, 
.navbar__menu .menu__link:focus,
.navbar__menu a.active{
    border-bottom: 3px solid var(--clr-blue);
}



/* Header Styles */
.logo {
    border: 3.5px solid var(--clr-dark-gray);
    border-radius: 100px;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    padding: 5px;
    margin: 5px;
}

.page__header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 5px var(--clr-gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: top 300ms;
}

.page__header div {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

/* Footer Styles */
.page__footer {
    background: var(--clr-dark-gray);
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */

/* Property Rules */ 
.auto-width {
    width: 80%;
    margin: auto auto;
}

.hide {
    display: none;
}

/* Tablets */
@media only screen and (max-width: 800px){
    .auto-width {
        width: 85%;
    }
}

/* Mobile Phones*/ 
@media only screen and (max-width: 400px){
    .auto-width {
        width: 90%;
    }
}


/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(84, 85, 86, 0.2);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgba(0, 86, 162, 0.2);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgba(0, 86, 162, 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgba(0, 86, 162, 0.2);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: active class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section div.active {
    background: var(--clr-blue);
}

section .active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}